[submodule "Deep-Learning-Boot-Camp"]
	path = Deep-Learning-Boot-Camp
	url = https://github.com/QuantScientist/Deep-Learning-Boot-Camp.git
[submodule "bigdata18"]
	path = bigdata18
	url = https://github.com/hfawaz/bigdata18.git
